<% if object.errors.any? %>
  Sorry, we encountered <%= pluralize(object.errors.count, "error") %>.

  <ul>
  <% object.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>
